* {
  font-family: "Lato", sans-serif;
  color: white;
}

html {
  min-height: 100vh;
  background: radial-gradient(ellipse at bottom, #009fe3, #111111);
}

.hidden {
  opacity: 0;
  filter: blur(5px);
  transform: translateY(4rem);
  transition: all 1s;
}

.show {
  opacity: 1;
  filter: blur(0);
  transform: translateY(0);
}

form table tr td > * {
  width: 100%;
  max-width: 400px;
}

body {
  margin: 1rem;
}

body > * {
  text-align: center;
  width: fit-content;
  margin-left: auto;
  margin-right: auto;
}

form table tr td button {
  margin-top: 1rem;
  margin-bottom: 1rem;
  text-align: center;
  width: 120px;
  height: 40px;
  color: black;
}

td {
  padding-bottom: 0.5rem;
}

input {
  border: none;
  border-radius: 0.25rem;
  color: black;
  padding: 0.5rem;
}
